@import 'tailwindcss';

@theme {
	--color-bg-gradient:
		radial-gradient(ellipse 80% 60% at 50% 50%, rgba(224, 212, 247, 0.9), transparent 70%),
		radial-gradient(ellipse 70% 80% at 20% 80%, rgba(186, 230, 253, 0.85), transparent 60%),
		radial-gradient(ellipse 70% 80% at 80% 20%, rgba(186, 230, 253, 0.85), transparent 60%),
		linear-gradient(180deg, #e0f7ff 0%, #f5f0ff 100%);
}

@layer utilities {
	.glass-card {
		background: rgba(255, 255, 255, 0.19);
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		border-radius: 20px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		box-shadow:
			0 8px 32px rgba(0, 0, 0, 0.1),
			inset 0 1px 0 rgba(255, 255, 255, 0.5),
			inset 0 -1px 0 rgba(255, 255, 255, 0.1),
			inset 0 0 10px 5px rgba(255, 255, 255, 0.5);
		/* position: relative; */
		overflow: hidden;
	}
}
